.personagem-card{ 
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  border: 1px solid rgb(189, 186, 186);
  width: 400px;
  padding: 10px;
}

.fotoPersonagem{
 height: 150px;
 width: 150px;
  border-radius: 150px;
  border-color: black;
}

h4,h2{
  font-family: Arial, Helvetica, sans-serif;
}

.inputName, button{
  padding: 5px;
  
}

.top-inputs{
  display: flex;
  gap:10px;
}

button{
  background-color: rgb(19, 176, 204);
  color: white;
  border: none;
}
button:active{
  background-color: rgb(11, 93, 107);
  color: white;
  border: none;
}


